USE PIZZERIA
GO

CREATE PROCEDURE insertarDatosLocalidad
    @Nombre VARCHAR(30)
AS
    BEGIN
        INSERT INTO Localidades(Nombre)
        VALUES (@Nombre)
    END
GO

EXEC insertarDatosLocalidad 'Ciudad Autonoma de Buenos Aires'